/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

/* Dropdown */

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 1;
  margin-left: 50%;
  font-family: Arial;
}

select {
  margin: 7px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(resources/pics/favicon-32x32.png) 96% / 15% no-repeat #fff;
}

@media screen and (max-width: 768px) {
  select {
    margin: 7px;
    width: 120px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 41px;
    background: #fff;
  }
  .dropdown {
    position: absolute;
    display: inline-block;
    z-index: 1;
    margin-left: 52%;
    margin-top: 2px;
    font-family: Arial;
  }
}
